<ion-view title="Contato" id="page4">
    <ion-content padding="true" class="has-header">
        <h1 id="contato-heading1" style="color:#000000;text-align:center;">Professor Eric</h1>
        <div id="contato-markdown4" style="color:#000000;">
            <p>Facebook: facebook.com/professoreric</p>

            <p>Twitter: twitter.om/erictwitter</p>

            <p>Email: ericmail@hotmail.com</p>
        </div>
        <a ui-sref="menu.mensagem" id="contato-button1" style="font-weight:300;" class="button button-balanced ">Enviar mensagem</a>
        <h1 id="contato-heading2" style="color:#000000;text-align:center;">Professor André</h1>
        <div id="contato-markdown5" style="color:#000000;"></div>
        <div id="contato-markdown7" style="color:#000000;">
            <p>Facebook: facebook.com/professorandre</p>

            <p>Twitter: twitter.om/andretwitter</p>

            <p>Email: andremail@hotmail.com</p>
        </div>
        <a ui-sref="menu.mensagem2" id="contato-button2" style="font-weight:300;" class="button button-balanced ">Enviar Mensagem</a>
    </ion-content>
</ion-view>