<ion-view title="Curso" id="page3">
    <ion-content padding="true" class="has-header">
        <div id="curso-markdown3" style="color:#000000;">
            <p>O curso de desenvolvimento mobile híbrido é realizado no centro educacional Etec Dra. Ruth Cardoso sendo ministrado pelos professores eric e
                <strong></strong>aos sábados, a partir das 14:00 até 18:00.</p>

            <p>Tendo como meta a capacitação dos alunos do 2º e 3º módulo de informática para o desenvolvimento mobile híbrido utilizando a plataforma e desenvolvimento ionic.</p>
        </div>
    </ion-content>
</ion-view>