<ion-view title="Desenvolvimento mobile híbrido" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="desenvolvimentoMobileHBrido-markdown2" style="color:#000000;">
            <p>
                <strong>Apps híbridos</strong>
            </p>

            <p>O conceito clássico de híbrido refere-se no ato de misturar. Na mistura de dois ou mais elementos diferentes o resultado é a oposição da ordem natural das coisas. Os aplicativos mobile híbridos surgiram a partir desse conceito, entre a junção
                do nativo e da web.</p>

            <p>A utilização das linguagens de programação da web, como HTML5 e Java Script, e o empacotamento no formato nativo resulta em um aplicativo que vai funcionar em plataformas diferentes. Hoje em dia uma grande quantidade de soluções mobile gira
                em torno de aplicativos híbridos, pois o conceito de escrever uma vez e rodar em qualquer plataforma torna esse modelo bastante utilizado no desenvolvimento.</p>

            <p>Aplicativos híbridos vão funcionar da mesma maneira como os aplicativos nativos, contudo:</p>

            <p>• São baseados em HTML5, CSS3 e JavaScript, sendo essas as principais tecnologias;</p>

            <p>• Exige um menor custo no desenvolvimento comparado com os nativos, isso por manter um código fonte apenas não precisando desenvolver um código para cada plataforma;</p>

            <p>• Para aplicar atualizações periódicas nos aplicativos, há uma enorme vantagem sobre as nativas, aplicando a atualização uma única vez.</p>

            <p>Outro ponto fundamental é que existe uma enorme gama de frameworks que seguem a filosofia híbrida: jQuery Mobile com PhoneGap, Sencha Touch, Titanium, ZeptoJS, etc. Esses frameworks oferecem uma suíte de componentes prontos os quais agilizam
                o desenvolvimento do aplicativo.</p>

            <p>
                <strong>Fonte:</strong>
            </p>
        </div>
        <div>
            <a href="http://www.devmedia.com.br/como-criar-aplicativos-mobile-hibridos-e-offline/32361#ixzz47Knv8C1y">http://www.devmedia.com.br/como-criar-aplicativos-mobile-hibridos-e-offline/32361#ixzz47Knv8C1y</a>
        </div>
        <div>
            <a style="display:block;" href="#" onclick="window.open('http://ionic.io/', '_system', 'location=yes'); return false;">
                <img src="img/1DTR6RwhQkKIZYYM29bN_download.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div>
            <a href="http://ionic.io/">Conheça mais em http://ionic.io/</a>
        </div>
    </ion-content>
</ion-view>