<ion-view title="Mensagem" id="page6">
    <ion-content padding="true" class="has-header">
        <h1 id="mensagem2-heading4" style="color:#000000;">Professor André</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Descrição:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="mensagem2-button4" class="button button-positive  button-block">Enviar</button>
    </ion-content>
</ion-view>